---
layout: splash
author_profile: true
title: Welcome
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/IMG_2888.jpg
excerpt: The website is undergoing some revamps.
intro: 
  - excerpt: "This is under construction. Why don't you check out my [twitter](https://www.twitter.com/debottamKundu)? "
feature_row:
  - image_path: assets/images/nathielpyne1.jpg
    image_caption: "Image courtesy of [nathan.w.pyle](https://www.nathanwpyle.art/)"
  - image_path: /assets/images/nathielpyne2.jpg
    image_caption: "Image courtesy of [nathan.w.pyle](https://www.nathanwpyle.art/)"
  - image_path: /assets/images/nathielpyne3.jpg
    image_caption: "Image courtesy of [nathan.w.pyle](https://www.nathanwpyle.art/)"
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}

