---
layout: splash
author_profile: true
title: Welcome
header:
  overlay_color: "#50C878"
  overlay_filter: "0.25"
  #overlay_image: /assets/images/IMG_2888.jpg
excerpt: The website is undergoing some revamps.
intro: 
  - excerpt: "We'll be up soon."
feature_row:
  - image_path: /assets/images/nathielpyne1.jpg
    image_caption: "Image courtesy of [nathan.w.pyle](https://www.nathanwpyle.art/)"
  - image_path: /assets/images/nathielpyne2.jpg
    image_caption: "Image courtesy of [nathan.w.pyle](https://www.nathanwpyle.art/)"
  - image_path: /assets/images/nathielpyne3.jpg
    image_caption: "Image courtesy of [nathan.w.pyle](https://www.nathanwpyle.art/)"
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}

